body{
    color: white;
    background-color: rgb(240, 116, 137);
}
.heading{
    width:80%;
    font-size: 28px;
}
.name_of_objects{
    list-style: none;
    margin-top:10px;
    right:30px;
}
.objects{
    float:right;
    margin-right:20px;
    font-size:20px;
    font-family:fantasy;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}
.menu{
    background-color: white;
    color: rgb(240, 116, 137);
    font-weight:bold;
}
.webcam_view{
    float:left;
}
.captured_image{
    float:right;
}